:root {
  --cla: #272822;
  --crm: #f0f0f0;
}

html {
  background-color: var(--cla);
  font-family: 'Open Sans', sans-serif;
}

#inkPlace{
  margin-top: 75px;
  background-color: var(--cla);
}

#inkDiv{
  /* margin-bottom: auto; */
  /* margin-right: auto; */
  margin:0 auto;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--cla);
}

.ink, #clearPic {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid var(--crm);
    border-radius: 50%;
}

#name {
  background-color: var(--cla);
  text-align: center;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 50px;
  padding-top:15px;
  color: var(--crm);
  font-weight: bold;
}

h2 {
  font-size: 25px;
  color: var(--crm);
  padding: 15px 0px 15px 0px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  color: var(--crm);
  padding: 15px 0px 15px 0px;
  font-weight: bold;
}

main {
  padding-top:25px;
  background-color: var(--cla);
  color: var(--crm);
}

main section {
  width: 60%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--crm);
  padding-bottom:15px;
  padding-bottom:15px;
}

footer {
  height: 50px;
  background-color: var(--cla);
}

td, th {
  /* border: 1px solid #272822; */
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 0rem;
  padding-right: 3rem;
}

th {
  font-weight: bold;
}

a {
  color: var(--crm);
}
