/* body {
    background-color: whitesmoke;
  }

@media screen and (min-width: 320px) {
    body {
      background-color: green;
    }
  }
  
  @media screen and (min-width: 550px) {
    body {
      background-color: yellow;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      background-color: orange;
    }
  }
  
  @media screen and (min-width: 960px) {
    body {
      background-color: red;
    }
  } */

#inkDiv{
  position: relative;
}

.ink {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.ink1 {z-index: 0;}
.ink2 {z-index: 1;}
.ink3 {z-index: 2;}
.ink4 {z-index: 3;}
.ink5 {z-index: 4;}
.ink6 {z-index: 5;}
.ink7 {z-index: 6;}
.ink8 {z-index: 7;}
.ink9 {z-index: 8;}