:root {
  --cla: #272822;
  --orc: #F92672;
  --bou: #66D9EF;
  --hen: #A6E22E;
  --pum: #FD971F;
}

html {
  background-color: var(--cla);
}

#inkPlace{
  margin-top: 75px;
  
  background-color: var(--cla);
}

#inkDiv{
  /* margin-bottom: auto; */
  /* margin-right: auto; */
  padding-left: 75px;
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: var(--cla2);
}

.ink {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

h1 {
  font-size: 50px;
  display: inline;
  color: var(--hen);
}

/* ZOMBIE CODE */

/* body {
    background-color: whitesmoke;
  }

@media screen and (min-width: 320px) {
    body {
      background-color: green;
    }
  }
  
  @media screen and (min-width: 550px) {
    body {
      background-color: yellow;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      background-color: orange;
    }
  }
  
  @media screen and (min-width: 960px) {
    body {
      background-color: red;
    }
  } */